*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
    
}

html , body{
    width: 100%;
    height: 100%;

}

#main{
    height: 100%;
    height: 100%;
    background-color: #111;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#main > h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

#main >h1 i{
    margin: 0px 10px;
    transition: 0.5s ease ;
}

#endec-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: #222;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#endec-div span{
    margin: 8px;
}

#endec-div h3{
    cursor: pointer;
    transition: 0.2s ease;
}

#enc-btn{
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #333;
    margin: 10px 0px 10px 10px;
    padding: 10px;
}

#dec-btn{
    
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    /* background-color: #333; */
    margin: 10px 10px 10px 0px;
    padding: 10px;
   
}

#encryption{
    width: 45%;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

#encryption h5{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.8rem;
    color: #7e7e7e;
}


#encryption textarea{
    width: 100%;
    height: 70px;
    border: 1px solid #343434;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    min-width: 100%;
    background-color: #1c1c1c;
    outline: none;
    /* max-height: 100px; */
}

#encryption input{
    width: 100%;
    border: 1px solid #343434;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    background-color: #1c1c1c;
    outline: none;
    /* max-height: 100px; */
}

#encrypt-btn{
    width: 100%;
    border: 1px solid #343434;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    background-color: #1c1c1c;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-out;
    /* max-height: 100px; */
}


#decryption{
    width: 45%;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}


#decryption h5{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.8rem;
    color: #7e7e7e;
}


#decryption textarea{
    width: 100%;
    height: 70px;
    border: 1px solid #343434;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    min-width: 100%;
    background-color: #1c1c1c;
    outline: none;
    /* max-height: 100px; */
}

#decryption input{
    width: 100%;
    border: 1px solid #343434;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    background-color: #1c1c1c;
    outline: none;
    /* max-height: 100px; */
}

#decrypt-btn{
    width: 100%;
    border: 1px solid #343434;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    background-color: #1c1c1c;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-out;
    /* max-height: 100px; */
}

